.footer-contain {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: aquamarine;
  width: 100vw;
}

.navbar-contain{
  text-align: center;
  padding: 1rem 0;
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.navbar-contain svg{
  width: 30vw;
  height: auto;
  text-align: center;
}

.hero-svg svg {
  width: 80vw;
  height: auto;
}

.hero-body {
  height: 100vh;
  position: relative;
}

.serviceSvg{
  text-align: center;
}

.hero-body::before {
  opacity: .5;
  background-image: url("https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #cccccc;
  background-size: cover;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-body {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddbd89 ;
}

.about-contain{
  display: flex;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  flex-direction: column;
  background-color: #ddbd89 ;
}

.about-box {
  width: 80vw;
  margin-bottom: 2rem;
}

.about-media{
  height: 25vh;
}

@media (min-width: 600px) {
  .navbar-contain svg{
    width: 10vw;
  }
  .hero-svg svg {
    width: 40vw;
  }
  .about-box {
    width: 50vw;
  }
  .about-media{
    height: 35vh;
  }
}